$main-color: floralwhite;
$off-color: ghostwhite;
$bttn-color: ghostwhite;
$background-color1: antiquewhite;
$background-color2: ghostwhite;
$snackbar-color:  rgb(54, 53, 53);
$error-color: rgb(228, 28, 28);
$focus: #ff9100;
