$main-color: floralwhite;
$off-color: ghostwhite;
$bttn-color: ghostwhite;
$bttn-hf: whitesmoke;
$label: rgba(0, 0, 0, 0.8);
$bg-offline: gainsboro;
$snackbar-color:  rgb(54, 53, 53);
$error-color: rgb(228, 28, 28);
$focus: #ff9100;
